body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1137px;
  width:1500px;
  height:100px;
  overflow:hidden;
}
#u3673_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
}
#u3673_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:44px;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:1169px;
  width:225px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u3674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  word-wrap:break-word;
}
#u3676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:61px;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1156px;
  width:57px;
  height:61px;
}
#u3676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:42px;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:1166px;
  width:139px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u3678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:44px;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:1165px;
  width:129px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u3679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:1169px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u3680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:1169px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:170px;
  overflow:hidden;
}
#u3681_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u3681_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:0px;
  width:800px;
  height:170px;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
  line-height:36px;
}
#u3682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:800px;
  word-wrap:break-word;
}
#u3683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:36px;
  width:90px;
  height:90px;
}
#u3683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:1500px;
  height:2px;
  overflow:hidden;
}
#u3684_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u3684_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:200px;
  width:473px;
  height:905px;
}
#u3686_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:905px;
  overflow:hidden;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:200px;
  width:473px;
  height:905px;
}
#u3687_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:905px;
  overflow:hidden;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:200px;
  width:473px;
  height:905px;
}
#u3688_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:905px;
  overflow:hidden;
}
#u3689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:170px;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:0px;
  width:424px;
  height:170px;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
  line-height:36px;
}
#u3689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:382px;
  word-wrap:break-word;
}
